<div class="main-content">
  <div class="container-fluid">
    <div class="card">

      <div class="card-header card-header-danger">
        <h4 class="card-title">Image Grid</h4>
      </div>

      <div class="card-body">
        <div class="row">
          <div class="column" *ngFor="let picture of pictures">
            <div class="imgContainer">
              <img src="{{filepickerProcessingApi(picture.picture)}}">
            </div>
          </div>
        </div>
      </div>

    </div>
  </div>
</div>