.column {
	margin: 0 auto;
  padding: 10px;
}

.row::after {
  content: "";
  clear: both;
  display: table;
}

.imgContainer{
	position: relative;
}

img {
	border-radius: 5%;
}

.text-block {
  position: absolute;
  bottom: 20px;
	border-radius: 5%;
	width: 100%;
  background-color: black;
	opacity: 0.8;
  color: white;
  padding-left: 20px;
  padding-right: 20px;
	text-align: center;
}