<div class="main-content">
  <div class="container-fluid">
    <div class="card">

      <div class="card-header card-header-danger">
        <h4 class="card-title">Sort Images
          <button mat-raised-button class="btn btn-info pull-right" (click)="saveImages()">
            Save
          </button>
        </h4>
        <p class="card-category">Drag and drop the images to sort them</p>
      </div>

      <div class="card-body">
        <div cdkDropListGroup>
          <div cdkDropList [cdkDropListEnterPredicate]="dropListEnterPredicate"
            (cdkDropListDropped)="dropListDropped()"></div>
          <div class="row">
            <div cdkDropList class="column" *ngFor="let picture of pictures"
              [cdkDropListEnterPredicate]="dropListEnterPredicate" (cdkDropListDropped)="dropListDropped($event)">
              <div class="imgContainer">
                <img cdkDrag src="{{filepickerProcessingApi(picture.picture)}}" (cdkDragMoved)="dragMoved($event);">
              </div>
            </div>
          </div>
        </div>
      </div>

    </div>
  </div>
</div>