<footer class="footer ">
    <div class="container-fluid">
        <div class="copyright pull-right">
            &copy;
            {{test | date: 'yyyy'}}, made with love by
            <a href="https://www.linkedin.com/in/dilankaasiri" target="_blank">Dilanka Asiri</a> for a Gapstar's interview.
        </div>
    </div>
</footer>