<div class="main-content">
  <div class="container-fluid">
    <div class="card">

      <div class="card-header card-header-danger">
        <h4 class="card-title">Select Images - {{this.selectedImages.length}}/9
          <button mat-raised-button class="btn btn-info pull-right" (click)="saveImages()">
            Save
          </button>
        </h4>
        <p class="card-category">Select your favoruite 9 images</p>
      </div>

      <div class="card-body">
        <div class="row">
          <div class="column" *ngFor="let picture of pictures">
            <div class="imgContainer">
              <img src="{{filepickerProcessingApi(picture.picture)}}" (click)="selectImage(picture)">
              <div *ngIf="picture.selected" class="text-block">
                <h4 style="font-weight: bold;">Selected</h4>
              </div>
            </div>
          </div>
        </div>
      </div>

    </div>
  </div>
</div>