<div class="main-content">
    <div class="container-fluid">
        <div class="row">
            <div class="col-md-4"></div>
            <div class="col-md-4">
                <div class="card">
                    <div class="card-header card-header-danger">
                        <h4 class="card-title">LOGIN</h4>
                    </div>
                    <div class="card-body">
                        <div>
                            <form class="my-form" name="loginForm" (ngSubmit)="login()">
                                <div>
                                    <div class="col-md-12">
                                        <mat-form-field class="full-width">
                                            <mat-label>Username</mat-label>
                                            <input matInput placeholder="Username" [(ngModel)]="username"
                                                name="username" required>
                                        </mat-form-field>
                                    </div>
                                    <div class="col-md-12">
                                        <mat-form-field class="full-width">
                                            <mat-label>Password</mat-label>
                                            <input matInput type="password" [type]="inputType" matInput
                                                placeholder="Password" name="password" [(ngModel)]="password" required>
                                            <button type="button" mat-icon-button matSuffix (click)="toggleVisibility()"
                                                matTooltip="Toggle Visibility">
                                                <mat-icon *ngIf="visible">visibility</mat-icon>
                                                <mat-icon *ngIf="!visible">visibility_off</mat-icon>
                                            </button>
                                            <mat-hint style="padding-top: 8px;">Click the eye to toggle visibility
                                            </mat-hint>
                                        </mat-form-field>
                                    </div>
                                </div>

                                <div style="margin-left: auto; margin-right: auto; padding-top: 20px;">
                                    <div class="row justify-content-center align-items-center">
                                        <button mat-raised-button class="btn btn-danger pull-left" type="submit">LOGIN
                                        </button>
                                        <div style="width: 25px;"></div>
                                        <!-- <button mat-raised-button class="btn btn-danger pull-right"
                                            type="submit">REGISTER
                                        </button> -->
                                        <a routerLink="/auth/register">Register</a>
                                    </div>
                                </div>

                            </form>
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </div>
</div>